 body{
      padding: 0px;
      margin: 0px;
      font-family: Arial;
}

#header{
      border: 1px solid black;
      width: 100%;
      height: 120px;
      background: #086d5e;
      text-align:center;
}

#wrapper{
      width: 700px;
      height: auto;
      margin: 0px auto;
}

#main{
      height: 300px;
      width: 100%;
}

#footer{
      height: 40px;
      border-top: 1px solid grey;
      font-size: 14px;
      text-align: center;
}

#wrapper #main img{
      width: 700px;
      height: 300px;
      border-radius: 20px;
  -o-border-radius:20px;
  -webkit-border-radius:20px;
}

#header #nav {
      margin-top: -43px;
      margin-left: 350px;
}

#header #nav ul li{
      list-style: none;
      display: inline;
      padding: 3px 8px 3px 8px;
      background:#4f837b;
      font-size: 18px;
      border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-border-radius: 5px;
}

#header #nav ul li a{
      color: black;
      text-decoration: none;
}

#header #nav ul li a:link{
      color: black;
}

#header #nav ul li a:visited{
      color: black;
}

#header #nav ul li a:hover{
      color: white;
}

#header #nav ul li a:active{
      color: black;
}

#header #logo img{
      margin-top: 20px;
      margin-left: -650px;
}

#wrapper #table1{
      width: 700px;
      height: 250px;
      table-layout: fixed;
}

#wrapper #table1 td{
      text-align: center;
      background:#D8D8D8;
      font-size: 14px;
      padding: 15px;
      border-radius: 20px;
      -moz-border-radius:20px;
      -webkit-border-radius:20px;
      box-shadow: 0px 0px 10px #000;
      -moz-box-shadow:0px 0px 10px #000;
      -webkit-box-shadow:0px 0px 10px #000;
}

#wrapper #table1 td h3{
      text-align: center;
}

h1{
   text-align: center;
   text-shadow: 2px 3px #999;
}

/*Imagenes del Index*/
#slider{
  width: 600px;
  height: 350px;
  background-size: 600px 350px;
  background-repeat: no-repeat;
  margin: auto;
  margin-top: 3%;
 

}

/*Imagenes del Index TERMINA*/

/*LOGIN*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}


/*Login Centro*/
form {
    margin:0 auto;
    width:459px;
}

input, textarea{
    font:16px;
    width:439px;
    height:25px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

select{
     background: #efefef;
     border: 1px solid #dedede;
     font-size: 16px;
     height: 40px;
     padding: 5px;
     width: 458px;
}

textarea{
  height:213px;
  font:16px;
  font-size:0.9em;
  background:url() right no-repeat #efefef;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}


/*LOGIN  TERMINA */



/*Titulo Estudiantes*/
h2{
   text-shadow: 10px 8px #ccf, -10px 12px #fcf, -8px -12px #cfc, 12px -5px #fc9;
   color: #999;
   text-align: center;
}
/*Titulo Estudiantes*/
